<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>party card</title>
  <link href="./output.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col justify-start w-full max-w-4xl p-8 bg-gray-700 text-white">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <div class="bg-red-800 mx-2 py-1 px-2 rounded-lg text-sm">
          bendera
        </div>
        <div class="bg-red-400 mx-2 py-1 px-2 rounded-lg text-sm">
          category1
        </div>
        <div class="bg-green-400 mx-2 py-1 px-2 rounded-lg text-sm">
          category2
        </div>
      </div>
      <div>
        <h3 class="opacity-50 text-xl">42m</h3>
      </div>
    </div>
    <div>
      <h1 class="text-4xl font-bold my-4">
        Nama Party
      </h1>
    </div>
    <div class="flex flex-row">
      <p class="text-white text-opacity-50 mr-2">Minimal Rank: </p> 
      insert rank
      <p class="text-white text-opacity-50 mx-2">| Average Rank:</p>
      insert rank
    </div>
    <div class="flex flex-row align-center justify-between mt-10">
      <div class="flex flex-row">
        <div class="bg-gray-700 p-2 rounded-lg font-bold">
          4/5
        </div>
        <div class="avatar-group -space-x-6 mx-8">
          <div class="avatar">
            <div class="w-12 rounded-full bg-gray-200">
            </div>
          </div>
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img src="https://media.hitekno.com/thumbs/2022/09/20/49670-meme-amogus/730x480-img-49670-meme-amogus.jpg" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img src="https://media.hitekno.com/thumbs/2022/09/20/49670-meme-amogus/730x480-img-49670-meme-amogus.jpg" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img src="https://media.hitekno.com/thumbs/2022/09/20/49670-meme-amogus/730x480-img-49670-meme-amogus.jpg" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img src="https://media.hitekno.com/thumbs/2022/09/20/49670-meme-amogus/730x480-img-49670-meme-amogus.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn bg-blue-500 hover:bg-blue-600">burger</button>
        <button class="btn bg-green-500 hover:bg-green-600">Join Party</button>
      </div>
    </div>
  </div>
</body>

</html>