<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>party detail</title>
  <link href="./output.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col justify-start w-full max-w-4xl p-8 bg-gray-700 text-white">
    <div class="mb-4">
      <h1 class="text-4xl font-bold">Party Detail</h1>
    </div>
    <div>
      <h2 class="my-4 text-xl">Party Name: Nama Party</h2>
      <div class="grid grid-cols-2">
        <div class="flex flex-row">
          <h3 class="text-white text-opacity-50">Minimal Rank:</p> 
          <h3 class="ml-5">Radiant</h3>
        </div>
        <div class="flex flex-row">
          <p class="text-white text-opacity-50">Average K/D:</p>
          <h3 class="ml-5">1</h3>
          <h3 class="ml-2 italic text-white text-opacity-75">(last 60 days)</h3>
        </div>
        <div class="flex flex-row">
          <p class="text-white text-opacity-50">Average Rank:</p>
          <h3 class="ml-5">Radiant</h3>
        </div>
        <div class="flex flex-row">
          <p class="text-white text-opacity-50">Average WR:</p>
          <h3 class="ml-5">50%</h3>
          <h3 class="ml-2 italic text-white text-opacity-75">(last 60 days)</h3>
        </div>
      </div>
    </div>
    <div class="flex flex-row mt-8 mb-4">
      <button class="btn bg-blue-500 hover:bg-blue-600 mr-4">Join Discord Voice</button>
      <button class="btn bg-red-600 bg-opacity-25 border-red-500 hover:bg-opacity-100 hover:bg-red-600">Leave</button>
    </div>
    <div>
      <h3>
        Discord Voice Channel ID: 
        voice-channel-2
      </h3>
    </div>
  </div>
</body>

</html>