<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>party create</title>
  <link href="./output.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col justify-start w-full max-w-7xl h-full p-8 bg-gray-700 text-white">
    <div>
      <h2 class="text-4xl font-bold mt-4 mb-12">
        Create New Party
      </h2>
    </div>
    <div class="grid grid-cols-2 gap-10">
      <div>
        <h3 class="font-semibold text-xl mb-2">Party Name</h3>
      </div>
      <div>
        <h3 class="font-semibold text-xl mb-2">Party Type</h3>
      </div>
      <div>
        <h3 class="font-semibold text-xl mb-2">Party Visibility</h3>
        <p>Set whether anyone can join your party or not</p>
      </div>
      <div>
        <h3 class="font-semibold text-xl mb-2">Minimum Rank</h3>
        <p>Set the minimum rank needed to join your party</p>
      </div>
    </div>
    <button className="btn bg-blue-500 hover:bg-blue-600">Create Party</button>
  </div>
</body>

</html>